# # Created by venv; see https://docs.python.org/3/library/venv.html
# *
# google_key.json
# Игнор виртуального окружения
venv/
whisper-env/

# Игнор кэш Python
__pycache__/

# Игнор ключа Google
google_key.json

# Игнор файлов логов, IDE и прочего
*.log
.idea/
.vscode/
